

<mat-card>
    <mat-list>
      <div mat-subheader>Folders</div>
      @for (folder of category; track folder) {
        <mat-list-item>
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{folder.title}}</div>
          <div matListItemLine>{{folder.description}}</div>
        </mat-list-item>
      }
      <mat-divider></mat-divider>
  <div class="mat-card-actions d-flex justify-content-center">
      <button mat-raised-button color="primary" routerLink="/admin/add-category">Add new Category</button>
      </div>
    </mat-list>
     
     
  </mat-card>
