<!--<p>profile works!</p>
<mat-card>
  <h2>Profile Details</h2>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <img src="assets/276139.jpg" alt="Profile" class="profile-image">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table">
              <div *ngIf="user">
                <tr>
                  <td>UserName</td>
                  <td>{{ user.userName }}</td>
                </tr>
                <tr>
                  <td>UserId</td>
                  <td>{{ user.userId }}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{ user.phone }}</td>
                </tr>
                <tr>
                  <td>Role</td>
                  <td>{{ user.role }}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{ user.status }}</td>
                </tr>
              </div>
            </table>
          </div>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="primary">SHARE</button>
          <button mat-raised-button color="primary">UPDATE</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card-content>
</mat-card>-->
